.image {
  width: 100%;
}
.title {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title::before {
  content: '\2192 ';
}
