.gridHeader {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.gridHeaderTitle {
  cursor: pointer;
  white-space: nowrap;
}

.gridHeaderItem {
  cursor: pointer;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
